@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>ORCA Consulting</title>
</head>
<body>
    @Html.ActionLink("View Expert List", "Index", "Expertises", null, new { @class = "page-scroll" })
</body>


</html>


